*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/dictionaries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/caches/build_file_checksums.ser
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
